.BestListWholeBox {
    width: 100;

    .MuiSkeleton-root {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}

.BestListMent {
    height: 100%;
    width: 100%;
    max-width: none !important;
    min-height: 200px;
    padding: 2.5rem 0 3.5rem;
    margin-bottom: 30px;

    .main-title {
        visibility: visible;

        h3 {
            color: white;
        }

        :after {
            background-color: white;
        }
    }

}