.camping-detail-map-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.camping-detail-map-area h1 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 1em;
  font-family: "TTHakgyoansimMoheomgaB";
}

.camping-detail-map {
  position: relative; /* 추가: 지도 컨테이너를 상대 위치의 기준점으로 설정 */
}

.camping-detail-map-url-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  position: absolute;
  bottom: -300px;
  right: -800px;
  z-index: 1000;
}

.camping-detail-map-url-area div {
  font-size: 1.2em;
  font-weight: 500;
}

.camping-detail-map-url {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  background: var(--key-color);
  color: var(--main-background-color);
  padding: 0.5rem;
}

.camping-detail-map-area button {
  width: 160px;
  height: 40px;
  font-size: 1rem;
  color: var(--main-background-color);
  padding: 0;
  border-radius: 0;
}

.camping-detail-map-area button span {
  padding-left: 5px;
  font-weight: 400;
  text-transform: capitalize;
}

.camping-detail-map-url:hover {
  background: var(--button-hover-color);
}
.address {
  font-size: 1em;
  margin-top: 2em;
}
