.bestCampingSkeleton1,
.bestCampingSkeleton2 {
    margin-bottom: 80px;
    display: flex;

    .bestCampingSkeletonImg1,
    .bestCampingSkeletonImg2 {
        width: 65%;
        height: 380px;
    }

    .bestCampingSkeletonMap1,
    .bestCampingSkeletonMap2 {
        z-index: 3;
        width: 50%;
        position: absolute;
        height: 280px;
    }
}

.bestCampingSkeleton1 {
    justify-content: start;
    position: relative;

    .bestCampingSkeletonMap1 {
        left: 50%;
        bottom: -13%;
    }
}

.bestCampingSkeleton2 {
    justify-content: end;
    position: relative;

    .bestCampingSkeletonMap2 {
        left: 0%;
        bottom: -13%;
    }

}