.mainBestCamp{
  --arrow-button-width: 70px;
  position:relative;
  background: #f5f5f5;
  margin-bottom:5rem;
  .mainBestCampItem{
    display:flex;
    justify-content: space-between;
    padding:1.5rem;
    box-sizing:border-box;
    .textBox{
      display:flex;
      flex-direction: column;
      justify-content: space-between;
      width:40%;
      padding:1rem 2% 0 1rem;
      h3{
        margin-bottom:5px;
        font-size:1.25rem;
        font-weight:400;
        color:var(--key-color);
      }
      h4{
        margin-bottom:25px;
        font-size:2.5rem;
        font-weight:400;
      }
      p{
        &:not(.btn_more){
          display: -webkit-box;
          margin-bottom:0;
          font-size:1rem;
          line-height:1.2;
          color:var(--color-gray);
          overflow: hidden;
          white-space: normal;
          text-overflow: ellipsis;
          -webkit-line-clamp:6;
          -webkit-box-orient: vertical;
          word-break: keep-all; 
        }
      }
      .btn_more{
        margin-bottom:0;
        a{
          display:inline-block;
          width:140px;
          height:45px;
          border:1px solid var(--color-darkGray);
          box-sizing:border-box;
          font-size:0.85rem;
          line-height:45px;
          text-align:center;
          text-decoration:none;
          color:var(--color-darkGray);
          &:hover{
            border-color:var(--key-color);
            color:var(--main-background-color);
            background:var(--key-color);
          }
        }
      }
    }
    .imgBox{
      width:60%;
      aspect-ratio:100/48;
      img{
        width:100%;
        height:100%;
        object-fit:cover;
      }
    }
  }
  .arrowBtnBox{
    position:relative;
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%);
    width:calc(100vw);
    max-width:calc(1536px + (var(--arrow-button-width) * 2 + 3rem));
    height:0;
    button{
      position:absolute;
      width:var(--arrow-button-width);
      height:var(--arrow-button-width);
      font-size:2rem;
      color:var(--color-gray);
      border:1px solid var(--color-gray);
      background:transparent;
      transform:translateY(-50%);
      &.btn_prevSlide{
        left:0;
      }
      &.btn_NextSlide{
        right:0;
      }
      &:hover{
        color:var(--color-darkGray);
        border-color:var(--color-darkGray);
      }
    }
  }
  .slick-prev, .slick-next{
    display:none !important
  }
  @media (max-width: 1200px) {
    .mainBestCampItem{
      .textBox{
        width:45%;
        h3{
          font-size:1.15rem;
        }
        h4{
          font-size:2rem;
          margin-bottom:20px;
        }
        p{
          &:not(.btn_more){
            font-size:0.85rem;
            -webkit-line-clamp:4; 
          }
        }
      }
      .imgBox{
        width:55%;
        aspect-ratio:100/55;
      }
    }
    .arrowBtnBox{
      opacity:0;
    }
  }
  @media (max-width: 900px) {
    aspect-ratio:100/48;
    overflow:hidden;
    margin-bottom:3rem;
    .mainBestCampItem{
      position:relative;
      display:block;
      padding:0;
      .textBox{
        position:absolute;
        top:50%;
        left:0;
        z-index:2;
        width:80%;
        padding:0 0 0 2rem;
        transform:translateY(-50%);
        h3{
          font-size:1rem;
        }
        h4{
          margin-bottom:10px;
        }
        p{
          &:not(.btn_more){
            width:80%;
            padding:0 20px 0 0;
            color:var(--color-darkGray);
            -webkit-line-clamp:3; 
          }
        }
        .btn_more{
          margin-top:1.5rem;
          a{
            width:120px;
            height:40px;
            line-height:40px;
          }
        }
      }
      .imgBox{
        position:relative;
        width:100%;
        aspect-ratio:100/48;
        &::after{
          position:absolute;
          top:0;
          right:0;
          display:block;
          content:"";
          width:100%;
          height:100%;
          background: linear-gradient(270deg, rgba(255, 255, 255, 0) 19%, rgba(245,245,245,1) 75%);
        }
      }
    }
    .arrowBtnBox{
      display:none;
    }
  }
  @media (max-width: 600px) {
    aspect-ratio:100/60;
    .mainBestCampItem{
      .textBox{
        width:100%;
        padding: 0 0 0 1rem;
        h3{
          font-size:0.85rem;
        }
        h4{
          font-size:1.5rem;
        }
        p{
          &:not(.btn_more){
            -webkit-line-clamp:2;
          }
        }
        .btn_more{
          margin-top:1rem;
          a{
            width:100px;
            height:35px;
            font-size:0.75rem;
            line-height:33px; 
          }
        }
      }
      .imgBox{
        aspect-ratio:100/60;
      }
    }
  }
}