.SkeletonDetailTopBox {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
    margin-bottom: 0;
    width: 100%;

    .SkeletonDetailImg {
        width: 60%;
        height: 500px;
    }

    .SkeletonDetailTopInfoBox {
        width: 35%;
        height: 350px;
    }

    .SkeletonDetailTopInfo {
        width: 100%;
        margin-bottom: 20px;
    }

    .SkeletonDetailTopInfo:first-child {
        height: 3.5em;
        width: 60%;
    }

    .SkeletonDetailTopInfo:nth-child(2) {
        height: 10em;
    }


    .SkeletonDetailTopHomepageButton {
        display: flex;
        justify-content: center;
        height: 30px;
        margin-bottom: 30px;
        margin-top: 30px;

        * {
            height: 100%;
            width: 30%;
        }
    }

    .detailTopLinkBox {
        width: 100%;
        display: flex;
        justify-content: end;

        .MuiSkeleton-root {
            width: 3.5em;
            height: 3.5em
        }

        .MuiSkeleton-root:last-child {
            margin-left: 10px;
        }
    }
}

.DetailSkeletonAttract {
    display: flex !important;
    flex-direction: column;
    align-items: center;

    hr {
        margin: 4em 0;
        color: black;
        background-color: black;
        height: 1px;
        width: 100%;
    }


    .SkeletonDetailMap {
        width: 100%;
        height: 500px;
    }

    .SkeletonDetailWeather {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .SkeletonDetailWeatherTitle {
        width: 40%;
        height: 30px;
    }

    .SkeletonDetailWeatherItemBox {
        display: flex;
        width: 100%;
        margin-top: 40px;
        justify-content: space-between;
    }

    .SkeletonDetailWeatherItem {
        width: 19.5%;
        height: 15em;
    }

    .SkeletonDetailWeatherE {
        width: 60%;
        height: 15em;
    }
}

@media (max-width:900px) {
    .SkeletonDetailTopBox {
        flex-direction: column;

        .SkeletonDetailImg {
            width: 100%;
            margin-bottom: 30px;
        }

        .SkeletonDetailTopInfoBox {
            width: 100%;
        }

    }

    .DetailSkeletonAttract {

        .AttractionSkeleton {
            width: 17vw;
            height: 150px;
        }

        .SkeletonDetailWeatherE {
            width: 100%;
        }
    }
}

@media (max-width:460px) {
    .SkeletonDetailTopBox {
        margin-top: 0;

        .SkeletonDetailImg {
            height: 400px;
        }

        .SkeletonDetailTopInfo:first-child {
            height: 2em;
            width: 60%;
        }

        .SkeletonDetailTopInfo:nth-child(2) {
            height: 6em;
        }

        .SkeletonDetailTopInfo {
            margin-bottom: 10px;
        }
    }

    .SkeletonDetailTopBox {

        .SkeletonDetailImg {
            margin-bottom: 15px;
        }
    }

    .DetailSkeletonAttract {
        .SkeletonDetailWeatherItem {
            height: 5em;
        }

        .SkeletonDetailMap {
            width: 100%;
            height: 300px;
        }
    }

}