.footer {
  text-align: center;
  background: var(--color-darkGray);
}

.footer-logo {
  margin: 0px;
  padding: 24px 0;
  filter: grayscale(100%);
}

.footer-logo img {
  height: 52px;
}

.footer-sns {
  margin-bottom: 24px;
}

.footer-sns-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 4px;
}

.footer-info {
  margin:0;
  padding: 24px 0;
  font-style: normal;
  color: var(--color-gray);
}

.footer-info:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin-top: -24px;
  height: 1px;
  background: #4b494c;
}

.footer-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-info-copy {
  margin: 16px 0 0 0;
}
