
.mainSearchForm{
  display:flex;
  width:100%;
  height: auto;
  min-height:60px;
  margin-top:-30px;
  background:#fff;
  .formDiv{
    display:flex;
    width:calc(100% - 60px);
    .formInnerBox{
      display:flex;
      align-items: center;
      width:25%;
      &:not(:first-child){
        border-left:1px solid #d3d3d3
      }
      i{
        display:block;
        width:50px;
        font-size:1.35rem;
        text-align: center;
      }
      div[class*="MuiInput-root"], div[class*="MuiOutlinedInput-root"]{
        width:calc(100% - 50px);
        em{
          font-style:normal;
        }
        fieldset{
          border:none;
        }
        .MuiSelect-select{
          padding-left:0;
        }
        &::before, &::after{
          display:none;
        }
      }
    }
    select{
      display:block;
    }
    input[type='value']{
      display:block;
    }
  }
  .formBtnDiv{
    display:flex;
    width:60px;
    background:var(--color-darkGray);
    button{
      width:60px;
      min-width:60px;
      height:60px;
      font-size: 1.25rem;
      border-radius:0;
      background:var(--color-darkGray);        
      &:hover{
        background: var(--key-color);
      }
    }
  }
}

@media screen and (max-width:900px) {
  .mainSearchForm{
    margin-top:-60px;
    .formDiv{
      flex-wrap: wrap;
      width:calc(100% - 60px);
      .formInnerBox{
        width:50%;
        height:60px;
        border-left:1px solid #d3d3d3;
        border-bottom:1px solid #d3d3d3;
      }
    }
    .formBtnDiv{
      width:60px;
      flex-direction: column-reverse;
      
    }
    .formBtnDiv{
      button{
          height:120px;

      }
    }
  }
}

@media screen and (max-width:600px) {
  .mainSearchForm{
    min-height:50px;
    margin-top:0px;
    .formDiv{
      width:calc(100% - 50px);
      border-top:1px solid #d3d3d3;
      i{
        width:50px;
        font-size:1.35rem;
      }
      .formInnerBox {
        width:100%;
        height:50px;
        div[class*="MuiInput-root"],
        div[class*="MuiOutlinedInput-root"]{
          width:100%;
        }
      }
    }
    .formBtnDiv{
      width:50px;
      height:auto;
      button{
        width:50px;
        min-width:50px;
        height:50px;
        font-size: 1.25rem;
      }  
    }
    .formBtnDiv{
      button{
        height:200px;
      }
    }
  }
}

.mainDetailSearchModal{
  .MuiDialog-paper{
    width:100%;
    max-width:800px;
    position:relative;
    h4{
      margin:0;
      padding:2.5rem 1rem;
      border-bottom:1px solid silver;
      font-family: 'TTHakgyoansimMoheomgaB';
      text-align:center;
      font-size:2rem;
      color:var(--main-font-color);
    }
    h5{
      font-family: 'TTHakgyoansimMoheomgaB';
      font-size:1.25rem;
      line-height:1;
      margin:2rem 0 0.5rem;
    }
    ul{
      display:flex;
      flex-wrap: wrap;
      margin:0;
      padding:1rem;
      background:#f5f5f5;
      li{
        list-style:none;
        padding-right:20px;
        span[class*="MuiCheckbox-root"]{
          padding:5px;
        }
        label{
          margin:0;
        }
      }
    }
    .btn_modalClose{
      position:absolute;
      top:10px;
      right:10px;
      padding:10px;
      font-size:2rem;
      line-height:1;
      cursor: pointer;
    }
  }
  .formBtnDiv{
    width:60%;
    max-width:450px;
    display:flex;
    justify-content: center;
    gap:10px;
    margin:3rem auto 2rem;
    button{
      display:block;
      height:50px;
      margin:0;
      font-size:1rem;
      color:var(--main-background-color);
      &.btn_search{
        width:70%;
        background:var(--key-color);
      }
      &.btn_reset{
        width:30%;
        background:var(--color-darkGray);
      }
    }
  }
}

.pt-10{
  padding-top: 10px;
}

