
.mainSearchForm{
  padding:2rem;
  width:100%;
  max-width:500px;
  margin:2rem auto 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  h3{
    margin:0;
    font-size:0;
    text-indent:-9999px;
  }
  .formDiv{
    display:flex;
    align-items: center;
    gap:10px;
    width:100%;
    margin:0 0 12px 0;
    .location{
      display:flex;
      gap:5px;
      width:80%;
      select{
        width:calc((100% - 5px) / 2);
        height:45px;
        padding:0;
        border-radius:5px;
        background:rgba(255, 255, 255, 0.15);
        color:1px solid var(--main-background-color);
        border:none;
      }
    }
    h4{
      display:block;
      width:25%;
      margin:0;
      padding:0;
      font-size:1.15rem;
      line-height:1;
      font-weight:300;
      color:var(--main-background-color);
    }
    div[class^="MuiInputBase"]{
      width:100%;
      em{
        font-style:normal;
        line-height:45px;
      }
      fieldset{
        border:none;
      }
      &::before, &::after{
        display:none;
      }
    }
    div[class^="MuiSelect"], input[type='text']{
      height:50px;
      line-height:50px;
      padding:0;
      border-radius:5px;
      background:rgba(255, 255, 255, 0.15);
      color:var(--main-background-color);
      border:none;
      padding:0 10px;

    }
  }
  .formBtnDiv{
    display:flex;
    justify-content: center;
    gap:10px;
    button{
      display:block;
      width:50%;
      height:50px;
      &[type='submit']{
        background:var(--key-color);
      }
      &[type='button']{
        background:var(--color-darkGray);
      }
    }
  }
  @media screen and (max-width:600px) {
    width:90%;
    padding:1.5rem;
    .formDiv{
      align-items: flex-start;
      flex-direction: column;
      margin:0 0 15px 0;
      h4{
        margin-bottom:5px;
      }
      div[class^="MuiInputBase"], .location{
        width:100%;
      }
      .inputDiv{
        width:100%;
      }
    }
    .formBtnDiv{
      flex-direction: column;
      margin-top:0;
      button{
        &[type='submit']{
          width:100%;
        }
        &[type='button']{
          width:100%;
        }
      }
    }
  }
}

.mainDetailSearchModal{
  .MuiDialog-paper{
    width:100%;
    max-width:800px;
    h4{
      margin:0;
      padding:1.5rem;
      font-size:1.25rem;
    }
    h5{
      font-size:1.15rem;
      line-height:1;
      margin:25px 0 10px;
    }
    ul{
      display:flex;
      flex-wrap: wrap;
      margin:0;
      padding:1rem;
      background:#f5f5f5;
      li{
        list-style:none;
        padding-right:20px;
        span[class*="MuiCheckbox-root"]{
          padding:5px;
        }
        label{
          margin:0;
        }
      }
    }
  }
  .formBtnDiv{
    width:60%;
    max-width:450px;
    display:flex;
    justify-content: center;
    gap:10px;
    margin:3rem auto 2rem;
    button{
      display:block;
      height:45px;
      margin:0;
      color:var(--main-background-color);
      &.btn_search{
        width:70%;
        background:var(--key-color);
      }
      &.btn_reset{
        width:30%;
        background:var(--color-darkGray);
      }
    }
  }
}

.pt-10{
  padding-top: 10px;
}

