@import url(../../../fonts.css);

@import url(../../../fonts.css);

.TagSearch {
  padding: calc(4rem + 20px) 0 2.5rem;
  margin-top: -30px;
  margin-bottom:4rem;
  background: #f5f5f5;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin: 0;
    padding: 0;
    li {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      input[type='checkbox'] {
        width: 0;
        height: 0;
        opacity: 0.5;
        &:checked+label {
          font-weight:500;
          color:var(--key-color);
        }
        &:checked+label i{
          svg{
            opacity:1;
          }
          img{
            transform:scale(1.1);
          }
          &::after{
            position:absolute;
            top:0;
            left:0;
            display:block;
            content:'';
            width:100%;
            height:100%;
            border-radius:100px;
            border:3px solid var(--key-color);
          }
        } 
        &:hover+label i{
          img{
            transform:scale(1.1);
          }
        } 
      }
      label {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width:90px;
        padding: 5px 0;
        cursor: pointer;
        i{
          position:relative;
          display:block;
          border-radius:100px;
          overflow:hidden;
          svg{
            position:absolute;
            top:50%;
            left:50%;
            z-index:1;
            width:40px;
            height:auto;
            transform:translate(-50%, -50%);
            background:#fff;
            border-radius:100px;
            opacity:0;
            overflow:hidden;
            transition: opacity linear 200ms;
          }
          img{
            display:block;
            width:70px;
            height:auto;
            transition: all linear 200ms;
          }
        }
        span{
          display:block;
          font-size:14px;
          margin-top:12px;
        }
      }
    }
  }

  .btn_more {
    display: none;
  }

  .btnBox {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 1.5rem;
    button {
      width: 120px;
      height: 40px;
      font-size: 1rem;
      color: var(--main-background-color);
      padding: 0;
      border-radius:0;
      span {
        padding-left: 5px;
        font-weight:400;
        text-transform: capitalize;
      }

      &.btn_refresh {
        background: silver;

        &:hover {
          background: var(--color-gray);
        }
      }

      &.btn_tagSearch {
        background: var(--key-color);

        &:hover {
          background: var(--button-hover-color);
        }
      }
    }
  }

  @media screen and (max-width:900px) {
    padding: calc(3rem + 60px) 0 2.5rem;
    margin-top: -60px;
    ul {
      gap: 5px;
      li {
        label {
          font-size: 0.85rem;
        }
      }
    }

    .btnBox {
      margin-top: 1.5rem;
      button {
        width: 110px;
        height: 40px;
        font-size: 0.9rem;
      }
    }
  }

  @media screen and (max-width:600px) {
    padding: 0 0 2rem 0;
    margin-top: 0;

    .mobileMoreDiv {
      max-height: 95px;
      overflow: hidden;
      transition: max-height linear 400ms;

      &.open {
        max-height: 500px;
      }
    }

    .btn_more {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 40px;
      margin: 0 auto;
      padding: 0;
      cursor: pointer;
      span {
        font-size: 0.75rem;
        padding-left: 5px;
      }
    }
    .btnBox {
      margin-top: 0.5rem;
    }
  }
}