.userList_header {
    border-bottom: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        font-size: 2em;
    }

    .buttons {
        font-size: 12px;
        width: 100%;
        margin: 10px 0;
        display: flex;
        justify-content: end;
        border: none;
        flex-direction: row;
    }
}