.login-form-wrap {
  max-width: 600px;
  margin: auto;
  
}

.login-form-wrap .button-login {
  margin-top: 16px;
  padding: 12px 0;
  font-size: 1em;
  background: var(--key-color);
}

@media screen and (max-width: 900px) {

  
}

@media screen and (max-width: 600px) {
 
}
