.facility-icon {
  display:block;
  width: 56px;
  height: 56px;
  margin-bottom:10px;
  text-indent:-9999px;
  font-size:0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  filter:saturate(20%);
  opacity:0.8;
  aspect-ratio: 1/1;
  &.on{
    filter:saturate(100%);
    opacity:1;
  }
  @media (max-width: 900px) {
    width:90%;
    height:auto;
    max-width: 50px;
    max-height: 50px;
  }
}

.icon-volt {
  background-image: url(../../assets/ico_volt_off.png);
  &.on{
    background-image: url(../../assets/ico_volt_on.png);
  }
}

.icon-wifi {
  background-image: url(../../assets/ico_wifi_off.png);
  &.on{
    background-image: url(../../assets/ico_wifi_on.png);
  }
}

.icon-wood {
  background-image: url(../../assets/ico_wood_off.png);
  &.on{
    background-image: url(../../assets/ico_wood_on.png);
  }
}

.icon-hotwater {
  background-image: url(../../assets/ico_hotwater_off.png);
  &.on{
    background-image: url(../../assets/ico_hotwater_on.png);
  }
}

.icon-tramp {
  background-image: url(../../assets/ico_tramp_off.png);
  &.on{
    background-image: url(../../assets/ico_tramp_on.png);
  }
}

.icon-pool {
  background-image: url(../../assets/ico_pool_off.png);
  &.on{
    background-image: url(../../assets/ico_pool_on.png);
  }
}

.icon-playzone {
  background-image: url(../../assets/ico_playzone_off.png);
  &.on{
    background-image: url(../../assets/ico_playzone_on.png);
  }
}

.icon-walk {
  background-image: url(../../assets/ico_walk_off.png);
  &.on{
    background-image: url(../../assets/ico_walk_on.png);
  }
}

.icon-ground {
  background-image: url(../../assets/ico_ground_off.png);
    &.on{
    background-image: url(../../assets/ico_ground_on.png);
  }
}

.icon-sports {
  background-image: url(../../assets/ico_sports_off.png);
    &.on{
    background-image: url(../../assets/ico_sports_on.png);
  }
}

.icon-mart {
  background-image: url(../../assets/ico_mart_off.png);
    &.on{
    background-image: url(../../assets/ico_mart_on.png);
  }
}

.icon-dumpstation {
  background-image: url(../../assets/ico_dump_station.png);
}
