.SkeletonBox {
    width: 100%;
    display: flex;
    flex-direction: column;

    .AttractionSkeletonTitle {
        width: 18%;
        height: 50px;
        margin-bottom: 30px;
    }

    div {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.SkeletonBox:first-child {
    margin-top: 5em;
}

.AttractionSkeleton {
    width: 16vw;
    min-height: 13vw;
    margin-bottom: 5em;
}