.bestCampContents{
  padding:2.5rem 0 3.5rem;
  h2{
    margin: 3rem 0;
    font-family: 'iceJaram-Rg';
    font-size: 3rem;
    font-weight:800;
    text-align:center;
  }
  @media (max-width: 900px) {
    h2{
      font-size:2.75rem;
    }
  }
  @media (max-width: 600px) {
    h2{
      font-size:2.25rem;
      margin:0;
    }
  }
}